body {
    background-color: rgb(247, 247, 230);
    font-size: 100%;
    margin: 3%;
}    

header {
    text-align: center;
    padding: 0%;
    margin: 0%;
}

/*Horizontal menu */

nav {
    font-size: 100%;
}

 .containermenuhorizontal{
    display: flex;
    gap: 1px;
    justify-content: center;
    padding: 0%;
    flex-wrap: wrap;
}

.onebox {
    background-color: rgb(255, 146, 146);
    border-style: groove;
    border-radius: 15px;
    text-align: center;
    padding: 1%;
    padding-left: 6%;
    padding-right: 6%;
}

.twobox {
    background-color: rgb(255, 146, 146);
    border-style: groove;
    border-radius: 15px;
    padding: 1%;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
}

.threebox {
    background-color: rgb(255, 146, 146);
    border-style: groove;
    border-radius: 15px;
    padding: 1%;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: flex;
    justify-content: center;
    padding: 1%;
    flex-wrap: wrap;
}

a:link {
    text-decoration: none;
    color: black;
    font-size: 100%;
}

/*Footer*/
code {
    font-size: 100%;
    padding-left: 20%;
}

#footer {
    display: grid;
    grid-template-areas: "code img";
    grid-template-columns: 70%;
    margin-top: 2%;
}

#footer > code {
    grid-area: code;
    text-align: left;
}
#footer > img {
    grid-area: img;
    text-align: right;
}

/*texto*/
h1 {
    font-size: 150%;
    text-align: center;
}

h5 {
    font-size: 110%;
}

h6 {
    font-size: 100%;
    text-align: left;
}
p {
    text-align: left;
    font-size: 100%;
}

h8 {
    text-align: end;
    font-size: 100%;
    color: #8ca0ff;
}

section a {
    background-color: #8ca0ff;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20%;
    border-radius: 1rem;
    border-style: groove;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

/*Section*/

#one {
    display: grid;
    grid-template-areas: "main article"
                                       "main footer";
    grid-template-columns: 50% 50%;
    justify-content: center;
    border-style: groove;
    border-radius: 2rem;
    margin: 5%;
}
#one > main {
    grid-area: main;
    margin: 2%;
    margin-left: 7%;
}
#one > article {
    grid-area: article;
    margin: 2%;
    text-align: center;
}
#one > footer {
    grid-area: footer;
    text-align: center;
    margin-bottom: 7%;
    margin-top: 7%;
}

#two {
    display: grid;
    grid-template-areas: "main article"
                                       "main footer";
    grid-template-columns: 50% 50%;
    justify-content: center;
    border-style: groove;
    border-radius: 2rem;
    margin: 5%;
}
#two > main {
    grid-area: main;
    margin: 2%;
    margin-left: 7%;
}
#two > article {
    grid-area: article;
    margin: 2%;
    text-align: center;
}
#two > footer {
    grid-area: footer;
    text-align: center;
    margin-bottom: 7%;
    margin-top: 7%;
}

#three {
    display: grid;
    grid-template-areas: "main article"
                                       "main footer";
    grid-template-columns: 50% 50%;
    justify-content: center;
    border-style: groove;
    border-radius: 2rem;
    margin: 5%;
}
#three > main {
    grid-area: main;
    margin: 2%;
    margin-left: 7%;
}
#three > article {
    grid-area: article;
    margin: 2%;
    text-align: center;
}
#three > footer {
    grid-area: footer;
    text-align: center;
    margin-bottom: 7%;
    margin-top: 7%;
}

iframe  {
 border-radius: 1rem;
 margin-bottom: 20%;
}
